@charset "ISO-8859-1";

body {
    background-image: url("fond3.jpg");
    background-size : cover;
    background-repeat : no-repeat;
    background-position : absolute;
}
.sopra
{
	background-image:url("INSERT.png");
position : absolute;
top : 600px;
	left: 250px;
	width: 10px;
	height: 10px;

}

.image-donjon
{
background-image:url("donjon.png");
position : absolute;
top : -10px;
	left: 700px;
	width: 10px;
	height: 10px;
}

.image-arene
{
background-image:url("arene.png");
position : absolute;
top : 500px;
	left: 140px;
	width: 10px;
	height: 10px;
}
.image-arene-effet
{
background-image:url("donjon.png");
position : absolute;
top : 500px;
	left: 140px;
	width: 10px;
	height: 10px;
}

h1, h2, h3{
	
	font-family : 'Orbitron', sans-serif;
	color : white;
} 

form, small, input, table{
	
	font-family : 'Orbitron', sans-serif;
	color : white;
} 

a, p, label, button{
	
	font-family : 'Orbitron', sans-serif;
	color : white;
} 
footer{
	font-family : 'Orbitron', sans-serif;
	color : white;
	position:absolute;
bottom:0px;
}




.centre{
	width : 250px;
	position : absolute;
	left : 500px;
	top : 200px;
}"src/main/resources/static/resources/stylesheet-sopra.css"


.combat{
	position : absolute;
	left : 50px;
	top : 100px;
}

.items{
	width : 500px;
	position : absolute;
	left : 800px;
	top : 50px;
}
