<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org"
xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
layout:decorator="layout-sopramon.html">

	<head>

		<meta charset="UTF-8" />
			
			<base href="/sopramon-web/" />
			
				<title>Fight !</title>
				
					<link rel="stylesheet"
				    integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
				    crossorigin="anonymous"
				    href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" />

						<link rel="stylesheet" type="text/css" href="stylesheet-sopra.css" />

							</head>
		    	 

							<body>

<header>

<h1>Mode combat</h1>

<h2><a href="Donjon.html" class="donjon">Mode histoire</a></h2>

<div class="image-donjon"><img src="pictures/donjon.png"/></div>

<h2><a href="Arene.html" class="arene">Mode versus</a></h2>

<div class="image-arene"><img src="pictures/arene.png"/></div>

<div class="image-arene-effet"><img src="pictures/arene_effet.png"/></div>

</header>


<footer>Copyright Sopra &copy; &reg;</footer>

 <script src="Ajout.js"></script>
</body>
</html>