<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
layout:decorator="layout-sopramon.html">

	<head>
	
		<meta charset="UTF-8" />
		
		
		
		<title>Bienvenue Sopramon !</title>
		
    
		<link rel="stylesheet"
		    integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
		    crossorigin="anonymous"
		    href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" />
		    	 
	</head>
	
	<body>
	
<header>
<h1 layout:fragment="custom-title"> Menu Sopramon </h1>
</header>  
   
<section> 

    <div class="combat">
        <h3>Mode Combat</h3>
    
    
    <button type="button" class="btn btn-danger"><a href="/sopramon-web/Combat">Go</a></button>
    </div>
    <div class="items">
     
     
    	<li><a href="/additems">Ajouter un item</a></li>
    	
    	<div layout:fragment="custom-content">
        <h3>Vos items</h3>
    
             
       	<table>
			
	<thead>
	<tr>
                    <th scope="col">Nom</th>
                    <th scope="col">Prix</th>
                    <th scope="col">Capacite</th>
                </tr>
            </thead>	
 
 			<tr th:each="item : ${ items }"}> 	   
			
					<td>[[${ item.nom }]] 	 </td>  

					<td>[[${ item.prix }]]	</td>
				
					<td>[[${ item.capacite }]]	 </td>	
			
				<td>
			
						
					
					<a th:href="@{/moditems(id=${ item.id })}" class="btn btn-primary">Modifier</a>	
					
					<a th:href="@{/deleteitems(id=${ item.id })}" class="btn btn-danger">Supprimer</a>	
    

    
    
				</td>
				
			</tr>
      
     
			
				</tbody>
    </table>
 
			</div>
 
 </div>
</section>

<footer>Copyright Sopramon &copy; &reg;</footer>

        
</body>
</html>