<!DOCTYPE html>
<<html xmlns:th="http://www.thymeleaf.org"
xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
layout:decorator="layout-sopramon.html"><head>

<link href="https://fonts.googleapis.com/css?family=Orbitron" rel="stylesheet">
<meta name="viewport" content="width=devide-width, initial-scale=1" />
<link rel="stylesheet"
integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
crossorigin="anonymous"
href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" />

<title>Inscription</title>
<meta name="description" content="Affrontez les tous !"/>

</head>
<body>
<header><h1>Inscription</h1></header>
<section>
<form class="centre" method="POST">
  <div class="form-group">
    <label for="InputNom">Nom de famille : </label>
    <input type="text" class="form-control" name="nom" aria-describedby="Help" placeholder="Saisir votre nom">
    <small id="nom" class="form-text text-muted">Ces données resteront privées.</small>
  </div>
  <div class="form-group">
    <label for="InputPassword">Prénom : </label>
    <input type="text" class="form-control" name="prenom" placeholder="Saisir votre prénom">
     <small id="prenom" class="form-text text-muted">Ces données resteront privées.</small>
  </div>
  <div class="form-group">
    <label for="InputUsername">Pseudo : </label>
    <input type="text" class="form-control" name="username" placeholder="Saisir votre pseudo">
  </div>
  <div class="form-group">
    <label for="InputPassword">Mot de passe : </label>
    <input type="text" class="form-control" name="password" placeholder="Saisir votre mot de passe">
     <small id="password" class="form-text text-muted">Ces données resteront privées.</small>
  </div>
  <div class="form-group">
    <label for="InputDate">Date de naissance : </label>
    <input type="date" class="form-control" name="date" placeholder="Saisir votre date de naissance">
  </div>
  <div class="form-group">
    <label for="InputPseudo">Nom du Sopramon : </label>
    <input type="text" class="form-control" name="pseudo" placeholder="Saisir le nom de votre Sopramon">
  </div>
  <button type="submit" class="btn btn-primary" >Creer votre compte</button>
</form>
</section>


</body>
</html>
