<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
layout:decorator="layout-sopramon.html">
<head>



<title>Bienvenue Admin !</title>
</head>
<body>

<h1>Espace Admin</h1>

<div layout:fragment="custom-content">  
<section> 

        <h3>Liste des Sopramons</h3>
        <table id="sopramons">
            <thead>
<tr>
                    
                    <th>Pseudo</th>
                    <th>Signe</th>
                    <th>Date de naissance</th>
                   
                    
                    <tr th:each="sopramon : ${sopramons}">
      <td>[[${ sopramon.pseudo }]]</td>
      <td>[[${ sopramon.signe.nom }]]</td>
      <td>[[${ sopramon.date }]]</td>
                </tr>
            </thead>
           <tbody>
            </tbody>
        </table>
        
    
    
    
   
   

   
     
    	<li><a href="/additems">Ajouter un item</a></li>
    	
    	
        <h3>Vos items</h3>
    
             
       	<table>
			
	<thead>
	<tr>
                    <th scope="col">Nom</th>
                    <th scope="col">Prix</th>
                    <th scope="col">Capacite</th>
                </tr>
            </thead>	
 
 			<tr th:each="item : ${ items }"}> 	   
			
					<td>[[${ item.nom }]] 	 </td>  

					<td>[[${ item.prix }]]	</td>
				
					<td>[[${ item.capacite }]]	 </td>	
			
				<td>
				
	
					<a th:href="@{/moditems(id=${ item.id })}" class="btn btn-primary">Modifier</a>	
					
					<a th:href="@{/deleteitems(id=${ item.id })}" class="btn btn-danger">Supprimer</a>	
    

    
    
				</td>
				
			</tr>
      
     
			
				</tbody>
    </table>
 
			</div>
 



</body>
</html>