<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">

<head>


<title layout:title-pattern="$LAYOUT_TITLE -$CONTENT_TITLE">Sopramon</title>
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Orbitron">
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
<link rel="stylesheet" href="resources/stylesheet-sopra.css"/>
</head>
<body>
<header>
</header>
<h1 layout:fragment="custom-title"></h1>
<h2 layout:fragment="custom-subtitle"></h2>
<h2 layout:fragment="custom-subtitle2"></h2>
<div layout:fragment="custom-content"></div>
<div layout:fragment="custom-content2"></div>
<footer layout:fragment="custom-footer">Copyright Sopra &copy; &reg;</footer>
</body>
</html>